 
.Head-container{
  display: flex;
  flex-wrap: wrap;
  background-image: url("./images/bg-masthead.jpg");
  height: 500px;
  width: 100%;
  text-align: center;
  padding: 200px;
}
.row {
  padding-left: 180px;
  padding-top: 20px;
}