.Test-container{
    margin-top: 90px;
    padding-left: 100px;
    text-align: center;
    justify-content: space-around;

}
.image{
    display: flex;
  
}
.img-1 {
    border-radius: 50%;
    width: 20%;
}
.img-2{
    border-radius: 50%;
    width: 20%;
}
.img-3{
    border-radius: 50%;
    width: 20%;
}